* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  font-weight: 400;
}

:root {
  --gray500: #86a2a5;
  --gray900: #2a4144;
  --green200: #e0f1e8;
  --green600: #0c7d69;
  --hover: #203c34;
  --error: #d73c3c;
}

body {
  color: var(--gray900);
  background-color: var(--green200);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -1px;
  margin-bottom: 32px;
}

.asterisk {
  color: var(--green600);
  padding-left: 10px;
}

input,
textarea,
.radio-wrapper {
  border: 1px solid var(--gray500);
  border-radius: 8px;
  padding: 12px 24px;
  width: 100%;
  transition: border-color 0.5s ease;
}

.radio-wrapper:has(input:checked) {
  border: 1px solid var(--green600);
  background-color: var(--green200);
}

input:hover,
textarea:hover {
  border: 1px solid var(--green600);
}

input[type="text"],
textarea {
  width: 100%;
  font-size: 18px;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  opacity: 0;
  height: 19.5px;
  width: 19.5px;
  z-index: 1;
}

input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: var(--hover);
}

label[for="general-enquiry"],
label[for="support-request"] {
  font-size: 18px;
}

.field-wrapper,
.inner-field-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-wrapper {
  display: flex;
  align-items: center;
}

.radio-wrapper,
input[type="submit"] {
  transition: background-color 0.5s ease;
}

#contact-form-wrapper {
  border-radius: 16px;
  background-color: white;
  margin: 32px 16px;
  padding: 24px;
}

#inner-wrapper,
#multifield-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#query-type-option-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.radio-label,
#consent-label {
  padding-left: 16px;
}

.custom-radio,
#custom-checkbox {
  position: absolute;
  height: 19.5px;
  width: 19.5px;
  cursor: pointer;
  background-size: cover;
}

.custom-radio {
  background-image: url("./assets/icon-radio.svg");
}

#custom-checkbox {
  background-image: url("./assets/icon-checkbox.svg");
}

input[type="radio"]:checked ~ .custom-radio {
  background-image: url("./assets/icon-radio-selected.svg");
}

input[type="checkbox"]:checked ~ #custom-checkbox {
  background-image: url("./assets/icon-checkbox-check.svg");
}

textarea {
  resize: none;
  height: 250px;
}

#consent-wrapper {
  margin: 40px 0;
}

#consent-inner-wrapper {
  display: flex;
  align-items: center;
}

input[type="submit"] {
  width: 100%;
  padding: 16px 40px;
  border: none;
  color: white;
  background-color: var(--green600);
  font-size: 18px;
}

#success-popup {
  position: absolute;
  top: 0;
  right: 50;
  /* left: 0; */
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  /* margin: 24px auto; */
  /* visibility: hidden; */
  /* opacity: 0; */
  gap: 8px;
  flex-direction: column;
  padding: 27px;
  border-radius: 12px;
  background-color: var(--gray900);
  transition: visibility 0.5s ease;
}

#success-popup.success {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease;
}

#success-confirmation-wrapper {
  display: flex;
}

#success-icon {
  content: url("./assets/icon-success-check.svg");
  margin-right: 10px;
}

#success-confirmation {
  color: white;
  font-weight: 700;
}

#success-message {
  color: var(--green200);
}

input[type="text"].error,
textarea.error {
  border: 1px solid var(--error);
}

p.error-message {
  display: none;
  color: var(--error);
  margin-top: 7px;
}

p.error-message.error {
  display: block;
}

input:focus,
textarea:focus,
.radio-wrapper:has(input[type="radio"]:focus),
input[type="checkbox"]:focus ~ #custom-checkbox {
  outline: 2px solid royalblue;
}

@media (min-width: 768px) {
  .field-wrapper {
    width: 100%;
  }

  #multifield-wrapper {
    gap: 16px;
  }

  #multifield-wrapper,
  #query-type-option-wrapper {
    flex-direction: row;
  }

  #contact-form-wrapper {
    margin: 128px auto;
    max-width: 736px;
    max-height: 941px;
  }

  textarea {
    height: 105px;
  }
}
